*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.body{
    scroll-behavior: smooth;
}
.bg{
    width: 100%;
    z-index: 1;
    height: auto;
    transform: translateY(-20%);
}

header{
    background: rgb(46,46,46);
    margin: 0;
    height: 95vh;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    color: #fff;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    font-family: poppins;
}

.logo{
    color: #333;
    font-weight: 600;
    font-size: 18px;
    font-family: ar berkley;
}

.logo::first-letter{
    font-family: aliens among us;
    font-size: 30px;
    font-weight: 600;
    
}

nav ul{
    list-style-type: none;
    z-index: 4;
}

nav ul li{
    padding: 3px 25px;
    display: inline-block;
    color: #fff;
    font-family: agency fb;
    font-weight: 600;
}

nav ul li:first-child{
    border: 1px solid #fff;
}

.banner{
    width: 350px;
    color: #fff;
    transform: translateY(-80vh);
    margin-left: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.banner h1{
    padding: 10px 0;
    font-family:agency fb;
}

.banner p{
    font-family: ar destine;
}

.line{
    width: 80px;
    height: 3px;
    border-radius: 5px;
    background: #fff;
    margin: 10px 0;
}

.main{
    background: rgb(46,46,46);
    width: 100%;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.main h3{
    color: #fff;
    font-weight: 600px;
    font-family: ar destine;
    font-size: 20px;
    text-transform: capitalize;
}

.slow{
    font-size: 14px;
    font-weight: 300;
    color: rgb(255, 250, 250);
    margin-top:5px;
    font-family: Arial, Helvetica, sans-serif;
}
.main p{
    max-width: 350px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgba(255,255,255, .7);
}

.articles{
    background: rgb(57,57,57);
    padding: 70px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article-desc{
    color: #f2f2f2;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-desc h3{
    font-weight: 500;
    font-family: ar destine;
    text-transform: capitalize;
}

.illustrations{
    display: flex;
    align-items: center;
    margin: 30px;

}

.illustrations div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.illustrations img{
    max-width: 350px;
    width: auto;
    margin: 0 5px;
    border-radius: 10px;
}

.place{
    display: flex;
    flex-direction:column;
    align-content: center;
    justify-content:center;
    color:#fff;
    transform: translateY(-100px);
    
}